.list-container{
    position: relative;
    box-sizing: border-box;
    width: 30%;
    height: 90%;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    background-color: rgb(22, 22, 22);
    border-radius: 15px;
    margin-right: 30px;
    margin-bottom: 0;
}

.list-container h3{
    margin: 0;
}